html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video 
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#000; 
  font-size:15px
}

h1, h2,h3,h4,h5 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:black;
 }

#header {
  width:100%; 
  background:rgba(255,255,255,.0);
  position:fixed;
  margin: 0 auto;
  top:0; 
  z-index:10000;
  overflow:auto;

}

nav {
  width:991px;
  margin: 0 auto;
  font-family: 'Verdana', sans-serif;
  text-align:center;
  font-size: 14px;
  text-shadow:0px 2px 3px rgba(33,33,33,.7)
}

nav ul {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  padding-top: 1px;
  margin-right: 0;
  margin-bottom: 0;
}

nav ul li {
  float:left;
  position: relative;
}

nav a {
  background:#FFA500;
  color:#FFF;
  display:block;
  border:1px solid;
  padding:10px 12px;
}
 
nav ul li a:hover {
  background:#0fbfc6;
}

nav ul li ul {
  display: none ;
  position: absolute;
}

nav ul li:hover ul {
  display: block ;
  z-index: 1000 ;
} 

nav ul li ul li {
  float: none ;
}

#cv{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:30px; text-shadow:rgba(33,33,33,.3) 0px 3px 5px;
  text-align: center;
  vertical-align: center;
  color:black;
}
#cabeceraCV {
  width: 20%;
  height: 200px;
  float:left;
  background-color:orange;
  vertical-align: center;
  text-align: center;
  padding-top: 20px;
} 

h2#logo img {
  border: none;
  margin: 0;
  width: 200px;
  float: right;
}

#main_section {
  padding-top: 65px;
  width: 991px;
  margin: 0 auto;
  background-color: #E6E6E6;
  overflow:auto
}

a {
  color: #557FFF; 
  text-decoration:none;
}
a:hover {
  text-decoration: underline;
}

h1{
  font-size:30px; text-shadow:rgba(33,33,33,.3) 0px 3px 5px;
  text-align: center;
  vertical-align: center;
}
h2{
  font-size:20px;
  text-align:center; 
  background-color:orange; 
  color:black;
}
h3{
  text-align:left; 
  color:black;
  margin-left: 20px;

}
h4{
  text-align:left; 
  color:black;
  margin-left: 20px;
}
p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align:justify;
  margin-left: 20px;
  margin-right: 20px;
}

.row {
  width:100%;
  float:left;
  overflow:auto;
}

.colLeft {
  width: 25%; 
  height: auto; 
  max-height: 500px;
  float:left;
  margin-top:4px;
  margin-bottom:4px;
  background-color: #D8D8D8;
}
.information{
  width:75%; 
  float:left;
  margin-top:4px;
  margin-bottom:4px;

}
.rowPublicaciones{
  width:100%;
  float:left;
  overflow:auto;
  margin-top:4px;
  margin-bottom:4px;
  background-color: #D8D8D8;
}


.colLeftSection {
  width: 25%; 
  float:left;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:4px;
  margin-bottom:4px;
  background-color: #848484;
}
.informationSection{
  width:75%; 
  float:left;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:4px;
  margin-bottom:4px;
  background-color: #848484;
}


article header h2{
  padding-top: 10px;
  padding-bottom: 10px;
}
section header {
  padding-top: 10px;
}

section header h1 {
  padding: 15px 0px 15px 0px;
  font-size: 25px;
  line-height: 30px;
  font-weight: normal;
  color: black;
  margin-bottom: 0
}
article {
    overflow:auto;
    padding-bottom:20px;
}    
section {
    overflow:auto;   
}

section ul li {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  margin-left: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  text-align:justify;
}

table {
   width: 80%;
   margin: 0 auto;
   margin-top:10px;
   margin-bottom:10px;
}
tr, td {
   width: 15%;
   text-align: center;
   vertical-align: center;
   border: 1px solid #000;
}

td h4{
  text-align:center; 
  color:black;
  margin-left: 0px;
}
td h5{
  font-size: 14px;
  text-align:center; 
  color:black;
  margin-left: 0px;
}
.tdVacio{
  border: 0px solid #000;
}

#footer {
  width:991px; 
  background:orange;
  margin: 0 auto;
  padding:10px 0px 10px 0px;
  bottom:0; 
  overflow:auto;
  margin-bottom:20px;
  border-bottom-right-radius:20px; 
  border-bottom-left-radius:20px; 
}
